.App {
  background-color: #FFF4E4;
  width: 100vw;
  min-height: 100vh;
}

header {
  display: flex;
  height: 95px;
  width: 100%;
  background-color: #0091AD;
  justify-content: space-between;
}

header span{
  margin-left: 17px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 3.5em;

}

header button {
  width: 60px;
  height: 60px;
  border: none;
  margin: auto 20px;
  font-size: 40px;
  border-radius: 5px;
  background-color: #FFF4E4;
  transition: all 0.3s;
}

header button:hover {
  background-color: rgb(204, 194, 179);
  
}

.cards {
  /* display: ; */
  width: 80vw;

  min-width: fit-content;
  margin: auto;
  overflow: hidden;
}