.App {
  background-color: #FFF4E4;
  width: 100vw;
  min-height: 100vh;
}

header {
  display: flex;
  height: 95px;
  width: 100%;
  background-color: #0091AD;
  justify-content: space-between;
}

header span{
  margin-left: 17px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 3.5em;

}

header button {
  width: 60px;
  height: 60px;
  border: none;
  margin: auto 20px;
  font-size: 40px;
  border-radius: 5px;
  background-color: #FFF4E4;
  transition: all 0.3s;
}

header button:hover {
  background-color: #ccc2b3;
  
}

.cards {
  width: 80vw;

  min-width: fit-content;
  margin: auto;
  overflow: hidden;
}

.loading {
  width: 80vw;

  min-width: fit-content;
  margin: auto;
  overflow: hidden;
}
.loading div{
  display: flex;
  justify-content: space-between;
  /* background-color: #F7E8A4; */
  height: 19px;
  margin: 10px 0;
  padding: 15px 50px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  transition: all .5s;
  overflow: hidden;
}

.skeleton div{
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #f3e9da 8%, #fff4bd 60%, #f3e9da 90%);
  background-size: 800px 104px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}
